/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    font-size: 16px;
}

.navbar {
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 5rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-dark{
    --bs-navbar-color: rgba(255, 255, 255, 1) !important;  
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.mt-5 {
    margin-bottom: 3rem;
}

.main-content {
    padding: 50px 0;
}

.container-fluid {
    padding: 0px;
}


/* banner */

img.img-fluid.w-100 {
    object-fit: cover;
    height: 52vmin;
}

h2.text-white {
    font-size: 2.5rem; /* ou o tamanho que preferir */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.position-relative {
    position: relative;
}

.position-relative::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Cor preta semitransparente */
}

.position-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Certifica-se de que o texto fica na frente da imagem */
}

/* Fim banner */

/* Rodapé */

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

/* Carrossel de imagens */

.carousel-item img {
    height: 28vmax;
    object-fit: cover;
}

.carousel-control-prev {
    left: 0;
    background: #022948;
}

.carousel-control-next {
    right: 0;
    background: #022948;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    opacity: 0.7;
}

/* Cards */

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: #c91c0e;;
}

p.card-date {
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
}


/* Botão Saiba Mais */

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.logo {
    width: 110px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

/* Títulos */

h1, h2, h3 {
    color: #343a40;
}


/* Rodapé */

/* Estilos para o rodapé */
footer {
    padding: 40px 0;
}

footer h5 {
    color: #fff;
    font-size: 18px;
}

footer p {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

footer ul li a:hover {
    color: #fff;
}

footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer p.copyright {
    color: #ccc;
    font-size: 14px;
    margin-top: 20px;
}

/* Estilos para o fundo do rodapé */
.bg-chile {
    background-color: #042f51 !important;
}


/* Informações sobre o Chile */

/* Estilo do título */
.sobre_chile h1 {
    font-size: 2.5rem;
    color: #dc3545; /* Cor mais vibrante */
    margin-bottom: 20px;
}

/* Espaçamento entre o título e o texto */
.sobre_chile p {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #333; /* Cor de texto mais escura */
}


/* Utilização de gradientes ou sombras sutis */
.sobre_chile {
    background: linear-gradient(to bottom, #ffffff, #f8f9fa);
    /*Gradientedecordefundo*/box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*Sombrasutil*/padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.sobre_chile h2 {
    font-size: 2.5rem;
    color: #dc3545;
    margin-bottom: 20px;
}

.sobre_chile p {
    color: #6c757d;
}

.image-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center; /* Centraliza a imagem */
}

.image-container img {
    max-width: 80%; /* Define a largura máxima da imagem como 100% */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Adicionando borda na parte inferior da seção */
.sobre_chile {
    margin: 2%;
    padding-bottom: 20px; /* Espaçamento abaixo da borda */
}

/* Adicionando margem entre as seções */
.sobre_chile section {
    margin-bottom: 50px; /* Adiciona margem na parte inferior de cada seção */
}

/* Ajustando o espaçamento interno dentro das seções */
.sobre_chile section.container {
    padding-top: 30px; /* Adiciona espaçamento interno na parte superior */
    padding-bottom: 30px; /* Adiciona espaçamento interno na parte inferior */
    border-bottom: 2px solid #ccc; /* Cor e largura da borda */
    border-bottom-style: ridge; /* Estilo da borda */
}

/* CSS pagina gastronimia.chilena */

.main-content {
    margin: 2%;
    background: linear-gradient(to bottom, #ffffff, #f8f9fa);
    /*Gradientedecordefundo*/box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*Sombrasutil*/padding: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main-content section.container {
    max-width: 70%;
}

.main-content .conteudo {
    text-align: justify;
}

.mb-3 {
    margin-bottom: 1rem !important; /* Adiciona margem inferior de 1 rem */
}

.mb-4 {
    margin-bottom: 1.5rem !important; /* Adiciona margem inferior de 1.5 rem */
}
