/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.main-content {
    padding: 50px 0;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

/* Carrossel de imagens */

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev {
    left: 0;
    background: #022948;
}

a.carousel-control-next {
    background: #022948;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Define um fundo escuro semi-transparente */
    color: #fff; /* Define a cor do texto como branco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao texto */
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    opacity: .7;
}

/* Cards */

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* Botão Saiba Mais */

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.logo {
    width: 130px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

/* Títulos */

h1, h2, h3 {
    color: #343a40;
}

/* Rodapé */

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #ccc;
}
