/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    font-size: 16px;
}

.navbar {
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 5rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-dark{
    --bs-navbar-color: rgba(255, 255, 255, 1) !important;  
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    text-align: right;
}

.mt-5 {
    margin-bottom: 3rem;
}

.main-content {
    padding: 50px 0;
}

.container-fluid {
    padding: 0px;
}
 .text-chile {
    color: #dc3545;
}

.logo {
    width: 110px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 512px)
{
    .navbar {
        padding: 0.5rem 1.2rem;
    }
    .navbar-brand {
        font-size: 1.2rem;
    }
    .navbar-nav .nav-link {
        font-size: 1rem;
        text-align: center;
    }
    .main-content {
        padding: 20px 0;
    }
    .logo {
        width: 80px; /* Set the desired width */
    }
    .text-chile {
        font-size: 1.35rem !important;
        text-align: center;
    }
    p.lead{
        font-size: 1.1rem;
        text-align: justify;
    }
}

@media screen and (max-width: 768px)
{
    .navbar {
        padding: 0.5rem 2rem;
    }
    .navbar-brand {
        font-size: 1.3rem;
    }
    .navbar-nav .nav-link {
        font-size: 1.1rem;
    }
    .main-content {
        padding: 30px 0;
    }
    
}

/* banner */

img.img-fluid.w-100 {
    object-fit: cover;
    height: 27vmax;
}

@media screen and (max-width: 770px) {
    img.img-fluid.w-100 {
        height: 38vmin;
        object-fit: fill;
    }
}


h2.text-white {
    font-size: 2.5rem; /* ou o tamanho que preferir */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.position-relative {
    position: relative;
}

.position-relative::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Cor preta semitransparente */
}

.position-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Certifica-se de que o texto fica na frente da imagem */
}

/* Fim banner */

/* Rodapé */

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

/* Carrossel de imagens */

#carouselExampleCaptions .carousel-item img {
    height: 27vmax;
    object-fit: cover;
}

@media screen and (max-width: 770px) {
    #carouselExampleCaptions .carousel-item img {
        height: 38vmin;
        object-fit:fill;
    }
    
}

#carouselExampleCaptions .carousel-control-prev {
    left: 0;
    background: #022948;
}

#carouselExampleCaptions .carousel-control-next {
    right: 0;
    background: #022948;
}

#carouselExampleCaptions .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#carouselExampleCaptions 
.carousel-control-next:focus,
#carouselExampleCaptions .carousel-control-next:hover,
#carouselExampleCaptions .carousel-control-prev:focus,
#carouselExampleCaptions .carousel-control-prev:hover {
    opacity: 0.7;
}

#carouselExampleCaptions .carousel-item {
    -o-transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

/* Fim carrossel de imagens */

/* Cards */

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: #c91c0e;;
}

p.card-date {
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
}

.information .card-body{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-style: outset;
}

.information h2{
    color: #084298;
}

@media screen and (max-width: 770px) {
    .information .card-body{
        height: auto;
    }
    .row>*{
        margin-bottom: 25px;
    
    } 
}

section.information.container.mt-5.text-center {
    padding-block-start: 2.5rem;
}

/* Fim cards */

/* Botão Saiba Mais */

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
/* Títulos */

h1, h2, h3 {
    color: #343a40;
}


/* Rodapé */

/* Estilos para o rodapé */
footer {
    padding: 40px 0;
}

footer h5 {
    color: #fff;
    font-size: 18px;
}

footer p {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

footer ul li a:hover {
    color: #fff;
}

footer hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer p.copyright {
    color: #ccc;
    font-size: 14px;
    margin-top: 20px;
}

/* Estilos para o fundo do rodapé */
.bg-chile {
    background-color: #042f51 !important;
}


/* Informações sobre o Chile */

/* Estilo do título */
.sobre_chile h1 {
    font-size: 2.5rem;
    color: #dc3545; /* Cor mais vibrante */
    margin-bottom: 20px;
}

/* Espaçamento entre o título e o texto */
.sobre_chile p {
    margin-top: 20px;
    font-size: 1.1rem;
    color: #333; /* Cor de texto mais escura */
}


/* Utilização de gradientes ou sombras sutis */
.sobre_chile {
    background: linear-gradient(to bottom, #ffffff, #f8f9fa);
    /*Gradientedecordefundo*/box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*Sombrasutil*/padding: 40px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}


.sobre_chile h2 {
    font-size: 2.5rem;
    color: #dc3545;
    margin-bottom: 20px;
}

.sobre_chile p {
    color: #6c757d;
    text-align: justify;
}

.image-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center; /* Centraliza a imagem */
}

.image-container img {
    max-width: 80%; /* Define a largura máxima da imagem como 100% */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Adicionando borda na parte inferior da seção */
.sobre_chile {
    margin: 2%;
    padding-bottom: 20px; /* Espaçamento abaixo da borda */
}

/* Adicionando margem entre as seções */
.sobre_chile section {
    margin-bottom: 50px; /* Adiciona margem na parte inferior de cada seção */
}

/* Ajustando o espaçamento interno dentro das seções */
.sobre_chile section.container {
    padding-top: 30px; /* Adiciona espaçamento interno na parte superior */
    padding-bottom: 30px; /* Adiciona espaçamento interno na parte inferior */
    border-bottom: 2px solid #ccc; /* Cor e largura da borda */
    border-bottom-style: ridge; /* Estilo da borda */
}

/* Ajustando o tamanho do conteúdo */
@media (max-width: 1024px) {
    .image-container img {
        max-width: 100%; /* Define a largura máxima da imagem como 100% */
    }
}

@media screen and (max-width: 770px) {
    .sobre_chile h2 {
        font-size: 2rem;
    }

    .sobre_chile h1 {
        font-size: 2rem;
    }
    h2.text-white {
        font-size: 2rem;
    }
}

@media screen and (max-width: 512px) {
    .sobre_chile h2 {
        font-size: 1.5rem;
    }

    .sobre_chile h1 {
        font-size: 1.5rem;
    }
    h2.text-white {
        font-size: 1.4rem;
    }
    .sobre_chile {
        padding: 1px;
    }
    
}
/* fim do ajuste de tamanho do conteúdo */

/* CSS pagina gastronimia.chilena */

.main-content {
    margin: 2%;
    background: linear-gradient(to bottom, #ffffff, #f8f9fa);
    /*Gradientedecordefundo*/box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*Sombrasutil*/padding: 40px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.gastronomia_session {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #ccc;
    border-bottom-style: ridge;
}

section.class_turismo.container {
    background: aliceblue;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
}

/* media query para ajustar o tamanho do conteúdo */
@media (min-width: 740px) {
    .main-content section.container {
        max-width: 85%;
    }
}

@media (min-width: 1320px) {
    .main-content section.container {
        max-width: 65%;
    }
}


@media screen and (max-width: 770px) {
    .main-content {
        padding: 15px;
    }
    
}

.main-content .conteudo {
    text-align: justify;
}

.main-content .picture-superior{
    padding: 2%;
}

.mb-3 {
    margin-bottom: 1rem !important; /* Adiciona margem inferior de 1 rem */
}

.mb-4 {
    margin-bottom: 1.5rem !important; /* Adiciona margem inferior de 1.5 rem */
}


/* Estilos para a seção de gastronomia_session de vinho e comida */


/* Estilos para a descrição dos vinhos */
.gastronomia_session .wine-description {
    margin-bottom: 30px;
}

/* Estilos para os itens da lista de vinhos */
.gastronomia_session .wine-description ul {
    list-style-type: none;
    padding-left: 0;
}

.gastronomia_session .wine-description ul li {
    margin-bottom: 15px;
}

/* Estilos para as imagens dos vinhos */
.gastronomia_session .wine-description img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-block-end: 12px;
    border: 4px solid #ccc; /* Cor da borda */
    border-radius: 10px; /* Raio da borda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/*Estilo para página comentários*/
main.comment .container.mt-5{
    padding: 2%;
    background: linear-gradient(to bottom, #ffffff, #f8f9fa);
}

main.comment imput{
    margin-bottom: 2%;
}