@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

.menu, .menu-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  z-index: 10;
  overflow: hidden;
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

.menu li a {
  display: inline-block;
  text-indent: -500em;
  height: 5em;
  width: 5em;
  line-height: 5em;
  text-align: center;
  color: #72739f;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
}

.menu li a:before {
  font-family: FontAwesome;
  text-indent: 0em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}

.menu li a.search:before {
  content: "\f002";
}

.menu li a.archive:before {
  content: "\f187";
}

.menu li a.pencil:before {
  content: "\f040";
}

.menu li a.contact:before {
  content: "\f003";
}

.menu li a.about:before {
  content: "\f007";
}

.menu li a.home:before {
  content: "\f039";
}

.menu li a.logout:before{
  content: "\f08b";
}

.menu-bar li a:hover,
.menu li a:hover,
.menu li:first-child a {
  background: #267fdd;
  color: #fff;
}

.menu-bar {
  overflow: hidden;
  left: 5em;
  z-index: 5;
  width: 0;
  height: 0;
  transition: all 0.1s ease-in-out;
}

.menu-bar li a {
  display: block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  color: #72739f;
  text-decoration: none;
  position: relative;
  font-family: verdana;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
}

.menu-bar li:first-child a {
  height: 5em;
  background: #267fdd;
  color: #fff;
  line-height: 5
}

.menu-bar {
  transition: width 0.3s ease; /* Adicionando transição suave para a largura do menu */
}

.menu-bar li a:hover {
  background: #267fdd;
  color: #fff;
}

.para {
  color: #033f72;
  padding-left: 100px;
  font-size: 3em;
  margin-bottom: 20px;
}

.open {
  width: 10em;
  height: 100%;
}

.bg-chile {
  background: #e34141;
  width: 100%;
}

h2.text-center.fs-4 {
  color: white;
  text-shadow: 2px 4px 3px black;
}

.content {
  transition: margin-left 0.3s ease; /* Suaviza a transição da margem esquerda */
  margin-top: 4em; /* Adiciona espaço abaixo do header */
  position: relative;
  
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
  color: #555;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Estilo dos botões */
button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

button.btn-secondary {
  background-color: #6c757d;
  border: none;
  color: #fff;
}

button.btn-secondary:hover {
  background-color: #5a6268;
}

/* Estilo de layout para a disposição dos elementos */
.mb-3 {
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.mt-5 {
  margin-top: 3rem;
}

.pb-md-5 {
  padding-bottom: 3rem;
}

@media screen and (min-width: 500px) {
  .content {
    margin-inline-start: 5em;
  }

  .cont.container.mt-5{
    width: 80%;
  }
}

.menu-expanded {
  margin-left: 15em; /* Ajusta conforme a largura do menu expandido */
}

@media all and (max-width: 500px) {
  .container {
    margin-top: 100px;
  }
  .menu {
    height: 5em;
    width: 100%;
  }
  .menu li {
    display: inline-block;
  }
  .menu-bar li a {
    width: 100%;
  }
  .menu-bar {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 0;
  }
  .open {
    width: 100%;
    height: 26em;
  }
  .para {
    padding-left: 5px;
  }
}

@media screen and (max-height: 34em) {
  .menu li,
  .menu-bar {
    font-size: 70%;
  }
}

@media screen and (max-height: 34em) and (max-width: 500px) {
  .menu {
    height: 3.5em;
  }
}

/* Adicione suas media queries personalizadas aqui */
@media screen and (max-width: 768px) {
  /* Estilos para telas menores que 768px de largura */
  /* Por exemplo, você pode ajustar o tamanho dos elementos ou alterar o layout */
}

@media screen and (min-width: 1200px) {
  /* Estilos para telas maiores que 1200px de largura */
  /* Por exemplo, você pode aumentar o tamanho da fonte ou adicionar mais espaçamento */
}
